body {
  position: relative;
}

@media (max-width: 992px) {
  .affix {
    position: static;
    width: auto !important;
  }
  .text-right-md {
    text-align: right;
  }
}

  .affix {
    top: 20px;
  }
@media (min-width: 992px) {
  .text-right-md {
    text-align: right;
  }
}

.navbar-brand>img {
  height: 1em;
  display: inline;
  margin-right: 0.5rem;
}

.table tbody>tr.vert-align>td{
  vertical-align: middle;
}

td.colShrink {
  width: 1px;
}

.colGrow {
  width: 100%;
}

.noWrap {
  white-space: nowrap;
}

.table-condensed .progress {
  margin-bottom: inherit;
}

.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
  border: none;
}

#nav .panel-body {
  padding: 0;
}

.panel-body table {
  margin: 0;
}

.btn-flex {
  display: flex;
}

.btn-bubble-left {
  top: 0px;
  padding-top: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-bubble-left+a {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.pad-bottom-small {
  padding-bottom: 5px;
}

.pad-right-small {
  padding-right: 5px;
}

.service-header {
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}

.service-header h2{
  margin-bottom: 5px;
}

.service-header .btn {
  vertical-align: top;
}

.table-indent-1 {
  padding-left: 25px;
}

.table-indent-2 {
  padding-left: 50px;
}

.collapsing {
  transition: height 1.5s;
}

.progress-no-margin {
  margin-top: 0px;
  margin-bottom: 0px;
}

.progress-small {
  height: 8px;
  margin-top: 6px;
  margin-bottom: 0px;
  vertical-align: center;
}

.sonarr-warning {
  color: #f0ad4e;
} 

img.media-object {
  width: 30%;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.row.media-row {
  margin-bottom: 1em;
  padding-left: 20px;
  padding-right: 20px;
}

.media-text {
  word-break: break-word;
}

.user-block {
  margin: auto;
  width: 50%;
}

.gravatar {
  height: 6em;
  float: right;
  margin-right: 10px
}

.reload-spin {
  border-radius: 50%;
  -webkit-transition: -webkit-transform .6s ease-in-out,
  color .6s ease-in-out;
  transition: transform .6s ease-in-out,
  color .6s ease-in-out;
  color: darkgray;
}

.reload-spin:hover {
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
  color: black;
}
