<tr class="vert-align">
  <td>Sonarr</td>
  <td>WebServer</td>
  <td>192.168.1.130</td>
  <td class="col-md-1">
    <button type="button" class="btn btn-xs btn-success" aria-label="Left Align">
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Online
    </button>
  </td>
</tr>
