<span>
<h2 id="{{ service.name }}">
  {{ service.name|default('Name') }}

  <span class="pull-right">
    {% if service.status is defined %}
      {% include "components/status_button.twig" with {'size' : 'sm'} %}
    {% endif %}
  </span>
</h2>
</span>

<hr>

{% block content %}
...
{% endblock content %}

