{% extends "master.twig" %}

{% from "components/panel.twig" import panel %}

{% block body %}

{% include "components/navbar.twig" %}


<div class="container">
  <div class="col-md-12">
  {#<div class="row" style="min-height: 2em">#}
  {#</div>#}
  <div class="row">
    <div class="col-md-4" id="leftcolumn">
      <div class="panel panel-default affix" id="service-panel">
        <div class="panel-heading">
          <form method="POST">
            <h4 class="panel-title">Services
              <input type="hidden" name="forceCacheClear" value="true" h>
              <a id='refresh-btn' class="pull-right">
                <span class="reload-spin glyphicon glyphicon-refresh"></span>
              </a>
            </h4>
          </form>
        </div>

        <div class="panel-body">
      <table class="table table-hover table-condensed">
        <tbody>
        {% for service in services %}
          {% embed "components/service_row.twig" %}
            {% block content %}
              {{ service.machine.name }}
            {% endblock content %}
          {% endembed %}
        {% endfor %}
        </tbody>
      </table>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      {% for service in services if service.extended %}
          {% embed "components/service_panel.twig" %}
            {% block content %}
              {% if service.content_template %}
                {% include(service.content_template) %}
              {% endif %}
            {% endblock content %}
          {% endembed %}
      {% endfor %}
    </div>
  </div>
  </div>
</div>

<script defer>
defer(function() {
$('.collapse').on('show.bs.collapse', function () {
    $('.collapse.in').collapse('hide');
    $('.collapsing[aria-expanded="false"]').collapse('hide');
});


$('#refresh-btn').click(function(e){
    e.preventDefault();
    $(this).closest('form').submit();
});


$('a[href^="#"]').on('click', function(e) {
   console.log('Attepmting to scroll!');
   console.log(this);
   console.log(this.hash);

   e.preventDefault();
   var hash = this.hash;
   $('html, body').animate({
       scrollTop: $(hash).offset().top
     }, 500, function(){
       // when done, add hash to url
       // (default click behaviour)
       {#window.location.hash = hash;#}
     });

});
$('.clickable-row[data-href^="#"]').on('click', function(e) {
   e.preventDefault();
   var hash = $(this).attr('data-href');
   $('html, body').animate({
       scrollTop: $(hash).offset().top
     }, 500, function(){
       // when done, add hash to url
       // (default click behaviour)
       {#window.location.hash = hash;#}
     });

});

$( window ).resize( function(event) {
  var sideBarNavWidth=$('#leftcolumn').width() - parseInt($('#leftcolumn').css('padding-left')) - parseInt($('#leftcolumn').css('padding-right'));
  $('#service-panel').css('width', sideBarNavWidth);
});
$('#service-panel').resize();

});
</script>

{% endblock %}
