{% extends "master.twig" %}

{% from "components/panel.twig" import panel %}

{% block body %}

{% include "components/navbar.twig" %}

<div class="container">
  {#<div class="row" style="min-height: 2em">#}
  {#</div>#}
  <div class="col-xs-12">
  <div class="row">
    <div id="leftcolumn" class="col-md-4 scrollspy">
      <div id="nav"
           class="panel panel-default"
           data-spy="affix-top">
        <div class="panel-heading">
          <form method="POST">
            <h4 class="panel-title">Services
              <input type="hidden" name="forceCacheClear" value="true" h>
              <a id='refresh-btn' class="pull-right">
                <span class="reload-spin glyphicon glyphicon-refresh"></span>
              </a>
            </h4>
          </form>
        </div>
        <div class="panel-body">
          <table class="table table-hover table-condensed">
            <tbody>
            {% for service in services %}
              {% embed "components/service_row.twig" %}
                {% block content %}
                  {{ service.machine.name }}
                {% endblock content %}
              {% endembed %}
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      {% for service in services if service.extended %}
          {% embed "components/service_panel.twig" %}
            {% block content %}
              {% if service.content_template %}
                {% include(service.content_template) %}
              {% endif %}
            {% endblock content %}
          {% endembed %}
      {% endfor %}
    </div>
  </div>
  </div>
</div>

<script defer>
defer(function() {

$('body').scrollspy({
  target: '#nav'
});

$('.collapse').on('show.bs.collapse', function () {
    $('.collapse.in').collapse('hide');
    $('.collapsing[aria-expanded="false"]').collapse('hide');
});

$('#refresh-btn').click(function(e){
    e.preventDefault();
    $(this).closest('form').submit();
});

$('a[href^="#"]').on('click', function(e) {
   e.preventDefault();
   var hash = this.hash;
   $('html, body').animate({
     scrollTop: $(hash).offset().top - 10
   }, 500, function(){ });
});
$('.clickable-row[data-href^="#"]').on('click', function(e) {
   e.preventDefault();
   var hash = $(this).attr('data-href');
   $('html, body').animate({
     scrollTop: $(hash).offset().top - 10
   }, 500, function(){ });
});

$('#nav').affix({
  offset: {
    top: ($('#nav').offset().top - 20)
  }
});

var fixNavWidth = function(event) {
  if( $('#nav').css('position') != 'fixed' ) {
    console.log('Exiting early!');
    return;
  }
  console.log("Fixing width!");
  var sideBarNavWidth = $('#leftcolumn').width();
   {#parseInt($('#leftcolumn').css('padding-right'));#}
  $('#nav').css('width', sideBarNavWidth);
}

$('#nav').resize( fixNavWidth );
$('body').on('affixed.bs.affix', fixNavWidth);
$('#nav').resize();

});
</script>

{% endblock %}
